.bg-white {
  background-color: #fff;
}

.list-style-none {
  list-style: none;
}

/* --== Custom padding/margin ==-- */
.pt-6, .py-6 {
  padding-top: 4rem !important;
}

.pb-6, .py-6 {
  padding-bottom: 4rem !important;
}

.pt-7, .py-7 {
  padding-top: 5rem !important;
}

.pb-7, .py-7 {
  padding-bottom: 5rem !important;
}

.yellow-border-text-bottom {
  position: relative;
  -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
          align-self: self-start;
  margin-bottom: 25px;
}

.yellow-border-text-bottom:after {
  content: '';
  position: absolute;
  border-bottom: 3px solid #fccd1a;
  width: 40px;
  position: absolute;
  margin: auto;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

.white-border-text-bottom {
  position: relative;
  -webkit-align-self: self-start;
      -ms-flex-item-align: self-start;
          align-self: self-start;
  margin-bottom: 25px;
}

.white-border-text-bottom:after {
  content: '';
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 40px;
  position: absolute;
  margin: auto;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

.angel-link {
  color: #fccd1a;
  font-size: 25px;
  vertical-align: middle;
}

.color-icon {
  color: #fccd1a;
}

.underline-color {
  -webkit-text-decoration-color: #fccd1a !important;
          text-decoration-color: #fccd1a !important;
  color: #000;
}

.underline-color:hover {
  color: #000;
}

.underline-color:visited {
  color: #656565;
}

.text-silver {
  color: #b2b2b2;
}

.position-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.more-link {
  background: #1b1b1b;
  padding: 10px 45px;
  display: inline-block;
  color: #fff;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.more-link:hover {
  text-decoration: none;
  color: #1b1b1b;
  background-color: #fccd1a;
}

.more-link:after {
  content: "\f105";
  font-family: FontAwesome;
  position: relative;
  right: -20px;
  color: #fccd1a;
  font-size: 22px;
}

.more-link:hover:after {
  color: #000;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

header {
  z-index: 10;
}

.main-header {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main-header nav {
  min-height: 70px;
}

p {
  margin: 1rem 0;
}

.header-main-menu {
  list-style: none;
  margin: 0;
}

.header-main-menu li a {
  display: inline-block;
  padding: 25px 30px;
  border-bottom: 4px solid #fff;
  color: #000;
}

.header-main-menu li a:hover {
  text-decoration: none;
  border-bottom: 4px solid #fccd1a;
}

.header-main-menu .current-menu-link-item {
  border-bottom: 4px solid #fccd1a;
}

.header-main-menu .current-menu-link-item:hover {
  border-bottom: 4px solid #fccd1a;
}

.main-footer {
  background-color: #1b1b1b;
}

.main-footer .footer-main-menu {
  border-bottom: 2px solid #393939;
}

.main-footer .footer-main-menu li a {
  color: #fff;
  margin: 0 20px;
}

.main-footer .footer-main-menu li a:hover {
  color: #fccd1a;
  text-decoration: none;
}

.main-footer .footer-info-wrapper p {
  color: #686868;
}

.main-footer .footer-info-wrapper .privacy-list a {
  color: #686868;
}

.main-footer .footer-info-wrapper .privacy-list .sep {
  color: #686868;
  margin: 0 8px;
}

.main-footer .footer-info-wrapper .social-networks li {
  margin: 0 5px;
}

.main-footer .footer-info-wrapper .social-networks li:last-child {
  margin-right: 0;
}

.main-footer .footer-info-wrapper .social-networks li a {
  color: #fccd1a;
  border: 2px solid #fccd1a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
}

.main-footer .footer-info-wrapper .social-networks li a:hover {
  text-decoration: none;
  background-color: #fccd1a;
  color: #000;
}

/* --== WP WYSIWYG Editor Styles ==-- */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/* --== /WP WYSIWYG Editor Styles ==-- */
/* --== Front Page ==-- */
.occupation-section {
  background-color: #1b1b1b;
}

.occupation-section .occupation-item {
  background-color: #333333;
  border-top: 3px solid #fccd1a;
  color: #fff;
}

.occupation-section .occupation-item h2 {
  color: #fccd1a;
}

.our-different {
  background-color: #fccd1a;
}

.customers-section {
  background-color: #f8f8f8;
}

.customers-section .logo-item {
  margin-bottom: 10px;
}

.customers-section .logo-item img {
  display: inline-block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.customers-section .logo-item a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.reviews-section .review-slider .carousel-inner {
  overflow: visible;
}

.reviews-section .review-slider .review-prev, .reviews-section .review-slider .review-next {
  color: #000;
  width: 35px;
  height: 35px;
  border: 2px solid #fccd1a;
}

.multirow:nth-child(even) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.multirow:nth-child(even) .multirow-item {
  margin-left: auto !important;
}

.pricing-section {
  background-color: #1c1c1c;
}

.pricing-section .pricing-item {
  background-color: #fff;
  border-left: 3px solid #fccd1a;
}

.pricing-section .pricing-item ul li:before {
  content: '\f00c';
  font-family: FontAwesome;
  background-color: #fccd1a;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* --== /Front Page ==-- */
.tag-posts i {
  color: #fccd1a;
}

.tag-posts .tag-news-item a {
  display: inline-block;
  padding: 5px 15px;
  color: #b2b2b2;
  border: 2px solid #525252;
}

.tag-posts .tag-news-item a:hover {
  text-decoration: none;
  border: 2px solid #fccd1a;
}

/* --== Single News ==-- */
.single-news blockquote {
  padding: 20px;
  padding-top: 40px;
  background-color: #333333;
  color: #fff;
  border-left: 3px solid #fccd1a;
  position: relative;
}

.single-news blockquote:before {
  position: absolute;
  left: 0;
}

.back-link a {
  color: #000;
}

.back-link a:hover {
  -webkit-text-decoration-color: #fccd1a;
          text-decoration-color: #fccd1a;
}

.tags-social-posts {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
}

/* --== /Single News ==-- */
/* --== Contact Page ==-- */
.contact-information {
  background-image: url("../images/contact-information.jpg");
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: left;
  min-height: 200px;
  position: relative;
}

.contact-information:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-information .contact-info-wrap {
  padding: 70px 80px;
  z-index: 1;
  color: #fff;
}

.contact-information .contact-info-wrap .list-group {
  list-style-type: none;
}

.contact-information .contact-info-wrap .list-group li {
  position: relative;
  margin: 10px;
}

.contact-information .contact-info-wrap .list-group li a {
  color: #fff;
  font-size: 18px;
}

.contact-information .contact-info-wrap .list-group li a.site:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -45px;
  height: 34px;
  width: 34px;
  background: url("../images/css_sprites.png") -10px -10px;
}

.contact-information .contact-info-wrap .list-group li a.mail:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -45px;
  width: 31px;
  height: 23px;
  background: url("../images/css_sprites.png") -112px -10px;
}

.contact-information .contact-info-wrap .list-group li a.phone:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -42px;
  height: 28px;
  width: 28px;
  background: url("../images/css_sprites.png") -64px -10px;
}

.contact-information .contact-info-wrap .list-group li a.map:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -42px;
  width: 25px;
  height: 40px;
  background: url("../images/css_sprites.png") -10px -64px;
}

.contact-us-form {
  padding: 70px 60px;
  color: #1b1b1b;
}

.contact-us-form .form-group .contact-form {
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 50px;
  padding: 13px;
}

.contact-us-form .form-group .contact-form.message {
  height: 110px;
}

.contact-us-form .form-group .contact-form:focus {
  border-color: #fccd1a;
  -webkit-box-shadow: 0 0 2px #fccd1a;
          box-shadow: 0 0 2px #fccd1a;
}

.contact-us-form .form-group .form-check {
  margin-bottom: 5px;
  padding-left: 30px;
}

.contact-us-form .form-group .form-check .checkbox-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-us-form .form-group .form-check .form-check-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 9px;
  -webkit-border-radius: 0;
          border-radius: 0;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 20px;
}

.contact-us-form .form-group .form-check .form-check-input:focus {
  outline: none;
}

.contact-us-form .form-group .form-check .form-check-input:checked {
  background-color: #fccd1a;
  border: 1px solid #fccd1a;
  outline: none;
}

.contact-us-form .form-group .form-check .form-check-input:checked:after {
  content: '\2714';
  font-size: 15px;
  position: absolute;
  top: -2px;
  left: 3px;
  color: #1b1b1b;
}

.contact-us-form .contact-btn {
  height: 50px;
  width: 250px;
  background-color: #1b1b1b;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
  margin-top: 10px;
}

.contact-us-form .contact-btn:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 40px;
  width: 10px;
  height: 17px;
  background: url("../images/css_sprites.png") -10px -124px;
}

/* --== /Contact Page ==-- */
/* --== Archive News ==-- */
.link-read-more {
  padding: 15px 30px;
  border: 3px solid #000;
  color: #000;
}

.link-read-more:visited {
  color: #000;
  text-decoration: underline;
}

.link-read-more:hover {
  border: 3px solid #fccd1a;
  color: #000;
  text-decoration: none;
}

.posts-pagination li {
  margin: 5px;
  font-weight: 700;
}

.posts-pagination li a, .posts-pagination li span {
  display: inline-block;
  border: 1px solid #000;
  padding: 7px 15px;
  cursor: pointer;
  color: #000;
}

.posts-pagination li a:hover {
  background-color: #fccd1a;
  border: 1px solid #fccd1a;
  border-bottom: 3px solid #fcb801;
  color: #000;
  text-decoration: none;
}

.posts-pagination li span.current {
  border: 2px solid #fccd1a;
}

.posts-pagination li span.disabled {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
}

.posts-pagination li .dots {
  border: 0;
  padding: 0;
}

/* --== /Archive News ==-- */
/* --== Widget News ==-- */
.blog-widget-area section.widget-item {
  background-color: #333333;
  padding: 20px;
  color: #fff;
}

.blog-widget-area section.widget-item .tagcloud a {
  color: #b2b2b2;
  font-size: 16px !important;
  border: 1px solid #525252;
  display: inline-block;
  padding: 1px 12px;
  margin: 0 5px 10px 0;
}

.blog-widget-area section.widget-item .tagcloud a:hover {
  border: 1px solid #fccd1a;
  text-decoration: none;
}

.blog-widget-area section.widget-item .rpwe-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-widget-area section.widget-item .rpwe-ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-bottom: 1px solid #525252;
  margin-bottom: 10px;
}

.blog-widget-area section.widget-item .rpwe-ul li time {
  color: #b2b2b2;
  font-size: 14px;
  margin-bottom: 4px;
}

.blog-widget-area section.widget-item .rpwe-ul li h3 {
  font-size: 19px;
}

.blog-widget-area section.widget-item .rpwe-ul li a {
  color: #fff;
}

.blog-widget-area section.widget-item .rpwe-ul li a:hover {
  color: #fccd1a;
}

.blog-widget-area .widget-title {
  color: #fccd1a;
  font-size: 23px;
  margin-bottom: 25px;
}

/* --== /Widget News ==-- */
/* --== Portfolio Archvie ==-- */
.portfolio-card {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.portfolio-card h2 {
  font-size: 20px;
}

.portfolio-card .card-body {
  background-color: #221e19;
  color: #fff;
}

/* --== /Portfolio Archive ==-- */
/* --== /Contact Page ==-- */
@media only screen and (max-width: 1200px) {
  .contact-information .contact-info-wrap {
    padding: 70px 20px;
  }
  .contact-us-form {
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header-main-menu li {
    width: 100%;
  }
  .header-main-menu li a {
    width: 100%;
    text-align: center;
  }
  .header-main-menu .current-menu-item {
    border: 0;
    background-color: rgba(252, 205, 26, 0.5);
  }
}
