$main-color: #fccd1a;
$white-color: #fff;
$grey-color: #333333;
$black-color: #1b1b1b;
$background-button-dark-color: #1b1b1b;

.bg-white {
  background-color: #fff;
}

.list-style-none {
  list-style: none;
}

/* --== Custom padding/margin ==-- */
.pt-6, .py-6 {
  padding-top: 4rem !important;
}

.pb-6, .py-6 {
  padding-bottom: 4rem !important;
}

.pt-7, .py-7 {
  padding-top: 5rem !important;
}

.pb-7, .py-7 {
  padding-bottom: 5rem !important;
}

@mixin bottom-line($color) {
  position: relative;
  align-self: self-start;
  margin-bottom: 25px;
  &:after {
    content: '';
    position: absolute;
    border-bottom: 3px solid $color;
    width: 40px;
    position: absolute;
    margin: auto;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;

  }
}

@mixin image-darken-background {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.yellow-border-text-bottom {
  @include bottom-line($main-color);
}

.white-border-text-bottom {
  @include bottom-line($white-color);
}

.angel-link {
  color: $main-color;
  font-size: 25px;
  vertical-align: middle;
}

.color-icon {
  color: $main-color;
}

.underline-color {
  text-decoration-color: $main-color !important;
  color: #000;
  &:hover {
    color: #000;
  }
  &:visited {
    color: #656565;
  }
}

.text-silver {
  color: #b2b2b2;
}

.position-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.more-link {
  background: $background-button-dark-color;
  padding: 10px 45px;
  display: inline-block;
  color: $white-color;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  &:hover {
    text-decoration: none;
    color: $background-button-dark-color;
    background-color: $main-color;
  }
  &:after {
    content: "\f105";
    font-family: FontAwesome;
    position: relative;
    right: -20px;
    color: $main-color;
    font-size: 22px;

  }
  &:hover:after {
    color: #000;
  }
}